name: submission
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2
  image_picker: ^1.0.4
  tflite_flutter: ^0.11.0
  image: ^4.0.17
  http: ^1.1.0
  google_generative_ai: ^0.4.7
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/food_classifier.tflite
    - assets/labels.txt
    - .env